@(volunteer: Volunteer, volunteerForm: Form[Volunteer])
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-8") }
@statuses =@{Seq("A"->"Active", "I"->"Inactive")}


@main("Volunteer form") {
    <h1>Volunteer Details</h1>
    <legend>@volunteerForm("firstName").value @volunteerForm("lastName").value()</legend>
    @b3.form(routes.VolunteerController.update(volunteer.getId)) {
        @b3.text(volunteerForm("firstName"), '_label -> "First Name")
        @b3.text(volunteerForm("lastName"), '_label -> "Last Name")
        @b3.select(volunteerForm("status"), options = statuses, '_label -> "Select a status")
        @b3.text(volunteerForm("email"), '_label -> "Email")
        @b3.text(volunteerForm("phoneNumber"), '_label -> "Phone Number")
        @b3.text(volunteerForm("address1"), '_label -> "Address 1")
        @b3.text(volunteerForm("address2"), '_label -> "Address 2")
        @b3.text(volunteerForm("city"), '_label -> "City")
        @b3.text(volunteerForm("state"), '_label -> "State")
        @b3.text(volunteerForm("zipCode"), '_label -> "Zipcode")
        @b3.submit('class -> "btn btn-primary") { Save }
    }
}
<h3>Assignments</h3>
    @if(volunteer.getAssignments.isEmpty) {
        <p>This volunteer does not have any assignments</p>
    } else {
        <table class="table table-striped">
            <thead>
                <th>Assignment</th>
                <th>Location</th>
            </thead>
            <tbody>
                @for(assignment <- volunteer.getAssignments) {
                    <tr>
                        <td>@assignment.getAssignmentName</td>
                        <td>@assignment.getLocation.getName</td>
                    </tr>
                }
            </tbody>
        </table>
    }