@(volunteer: Volunteer, volunteerForm: Form[Volunteer])
@import b3.vertical.fieldConstructor
@statuses =@{Seq("A"->"Active", "I"->"Inactive")}


@main("Volunteer form") {
    <h1>Volunteer Details Form</h1>
    <legend>Volunteer (@volunteerForm("firstName").valueOr("New"))</legend>
    @b3.form(routes.VolunteerController.update(volunteer.id)) {
        @b3.text(volunteerForm("firstName"), '_label -> "First Name")
        @b3.text(volunteerForm("lastName"), '_label -> "Last Name")
        @b3.select(volunteerForm("status"), options = statuses, '_label -> "Select a status")
        @b3.text(volunteerForm("email"), '_label -> "Ema    il")
        @b3.text(volunteerForm("phoneNumber"), '_label -> "Phone Number")
        @b3.text(volunteerForm("address1"), '_label -> "Address 1")
        @b3.text(volunteerForm("address2"), '_label -> "Address 2")
        @b3.text(volunteerForm("city"), '_label -> "City")
        @b3.text(volunteerForm("state"), '_label -> "State")
        @b3.text(volunteerForm("zipCode"), '_label -> "Zipcode")
        @b3.submit('class -> "btn btn-primary") { Save }
    }
}
