@(volunteerForm: Form[Volunteer])
@import b3.vertical.fieldConstructor


@main("Volunteer form") {
    <h1>New Volunteer Form</h1>
    @b3.form(routes.VolunteerController.save) {
            <legend>Volunteer (@volunteerForm("firstName").valueOr("New"))</legend>
            @b3.text(volunteerForm("firstName"), '_label -> "First Name")
            @b3.text(volunteerForm("lastName"), '_label -> "Last Name")
            @b3.text(volunteerForm("email"), '_label -> "Email")
        <input type="submit" class="btn btn-primary" value="Save">

    }
}
