@(volunteers: List[Volunteer])

@main("Volunteer List") {
    <h2>All Volunteers</h2>
    <a href="@routes.VolunteerController.newVolunteer()" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> New Volunteer</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @for(volunteer <- volunteers) {
                <tr>
                    <td><a href="@routes.VolunteerController.details(volunteer.id)">
                    @volunteer.firstName</a></td>
                    <td><a href="@routes.VolunteerController.details(volunteer.id)">
                    @volunteer.lastName</a></td>
                    <td><a href="@routes.VolunteerController.details(volunteer.id)">
                    @volunteer.email</a></td>
                    <td><a href="@routes.VolunteerController.details(volunteer.id)">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@routes.VolunteerController.delete(volunteer.id)">
                        <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}