@(volunteers: List[Volunteer])

@main("Volunteer List") {
    <h2>All Volunteers</h2>
    @*this javascript is necessary to call a DELETE operation*@
    <script>
        function del(urlToDelete) {
            $.ajax({
                url: urlToDelete,
                type: 'DELETE',
                success: function(results) {
                    // refresh the page
                    location.reload()
                }
            });
        }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @for(volunteer <- volunteers) {
                <tr>
                    <td><a href="@routes.VolunteerController.details(volunteer.idn)">
                    @volunteer.idn</a></td>
                    <td><a href="@routes.VolunteerController.details(volunteer.idn)">
                    @volunteer.name</a></td>
                    <td>
                        <a href="@routes.VolunteerController.details(volunteer.idn)">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="('@routes.VolunteerController.delete(volunteer.idn)">
                            <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@routes.VolunteerController.newVolunteer()" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>New Volunteer</a>
}