@(assignment: Assignment, assignmentForm: Form[Assignment])
    @implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-8") }


    @main("Assignment Details") {
        <a class="small" href="@routes.LocationController.details(assignment.getLocation.getId)"><< Back to @assignment.getLocation.getName</a>
        <h1>Assignment Details</h1>
        @b3.form(routes.AssignmentController.update(assignment.getId)) {
            <legend>@assignmentForm("assignmentName").valueOr("New")</legend>
            @b3.text(assignmentForm("assignmentName"), '_label -> "Assignment Name")
            @b3.submit('class -> "btn btn-primary") { Save }

        }

        <h3>Volunteers</h3>
        @if(assignment.getVolunteers.isEmpty) {
            <p> There are no volunteers assigned to this assignment</p>
        } else {
            <table class="table table-striped">
                <thead></thead>
                <tbody>
                    @for(volunteer <- assignment.getVolunteers) {
                        <tr>
                            <td><a href="@routes.VolunteerController.details(volunteer.getId)">
                            @volunteer.getFirstName</a></td>
                            <td><a href="@routes.VolunteerController.details(volunteer.getId)">
                            @volunteer.getLastName</a></td>
                            <td><a href="@routes.VolunteerController.details(volunteer.getId)">
                            @volunteer.getEmail</a></td>
                            <td><a href="@routes.VolunteerController.details(volunteer.getId)">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="@routes.AssignmentController.removeVolunteerFromAssignment(assignment.getId, volunteer.getId)">
                                    <span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
        <p><a class="add-link" href="@routes.AssignmentController.browseVolunteers(assignment.getId)">Add Volunteers</a> </p>

        <h3>Schedule</h3>
        <label>Monday</label>
        <div class="input-group col-sm-4 col-sm-7" id="timepicker">
            <input type="text" class="form-control" name="start"  />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" />
        </div>
        <label>Tuesday</label>
        <div class="input-group col-sm-4 col-sm-7" id="timepicker">
            <input type="text" class="form-control" name="start"  />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" />
        </div>
        <label>Wednesday</label>
        <div class="input-group col-sm-4 col-sm-7" id="timepicker">
            <input type="text" class="form-control" name="start"  />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" />
        </div>
        <label>Thursday</label>
        <div class="input-group col-sm-4 col-sm-7" id="timepicker">
            <input type="text" class="form-control" name="start"  />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" />
        </div>
        <label>Friday</label>
        <div class="input-group col-sm-4 col-sm-7" id="timepicker">
            <input type="text" class="form-control" name="start"  />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" />
        </div>
        <input type="button" class="btn btn-primary" value="Save Schedule"/>

    }
