@(volunteerCount: Int, locationCount: Int, assignmentCount: Int)
@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Project Five") {
    <h1>Welcome</h1>
    <p class="">Project Five is a volunteer management app built as part of the software engineering capstone course at Minneapolis Community and Technical College.</p>
    <p>Use the menu at the top to get started.</p>

    <h2>Statistics</h2>
    <p>Volunteer records: @volunteerCount</p>
    <p>Location records: @locationCount</p>
    <p>Assignment records: @assignmentCount</p>

}
