@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Project Five") {
    <h1>Project Five</h1>
    <p class="">Project Five is a volunteer management app built as part of the software engineering capstone course at Minneapolis Community and Technical College.</p>
    <p>Use the menu at the top to get started.</p>
    <h2>Goals</h2>
    <p>My goals for the project were to continue exploring Java and web-application frameworks using the Play Framework, as well as to use JPA and Hibernate</p>
    <h2>Features</h2>
    <p>The app is designed to allow volunteer coordinators and volunteers for non-profit organization to coordinate volunteer work assignments and schedules.</p>
    <ul>
        <li>Volunteers will be able to see their assigned jobs and assignments</li>
        <li>Volunteer coordinators will be able to add new jobs and assignments, schedule volunteers, and post messages to the volunteers</li>
        <li>Potential Volunteers will be able to register their interests and availability using the site</li>
    </ul>

}
